body {
  margin: 0;
}

input, button {
  outline-color: #b6eb7a;
}

img {
  max-width: 100%;
}

.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  /* background-color: #fff; */
}

.title {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 0;
  font-size: 36px;
  font-weight: 300;
  color: #17706e;
}

.content {
  width: 600px;
  font-size: 16px;
  color: #17706e;
  border: 2px solid #f7f7ee;
  border-radius: 10px;
  background-color: #f7f7ee;
  box-shadow: 5px 5px 20px 0 rgba(204,204,204,0.7);
}