.item {
  position: relative;
}

.item label {
  display: flex;
  align-items: center;
  color: #17706e;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.item input {
  display: none;
}

.check {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid #b6eb7a;
}

.check::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  content: '';
  display: none;
  width: 100%;
  height: 100%;
  background: url('./check.svg') center no-repeat;
  background-size: contain;
}

.delete {
  position: absolute;
  right: 0;
  top: 50%;
  width: 15px;
  height: 15px;
  display: none;
  transform: translate(0, -50%);
}

@media (min-width: 992px) {
  .item:hover {
    cursor: pointer;
  }
  .item:hover .delete {
    display: block;
  }
}

.done label {
  color: #b6eb7a;
  text-decoration: line-through;
}

.done .check {
  background-color: #b6eb7a;
}

.done .check::before {
  display: block;
}