.wrap {
  position: relative;
  margin-bottom: 15px;
  display: flex;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #17706e;
  border: none;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  font-size: 16px;
  color: #f7f7ee;
  border-radius: 0 5px 5px 0;
  background-color: #17706e;
  border: 1px solid #17706e;
}

.error {
  border: 1px solid #fb7813;
}

.errorText {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  /* width: 100%; */
  padding: 5px 10px;
  font-size: 16px;
  color: #fb7813;
  background-color: #fff3eb;
  border: 1px solid #fb7813;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: opacity 0.3s;
}

.errorActive {
  opacity: 1;
  visibility: visible;
}